<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!-- 配置数据库环境 -->
    <!-- 该default属性必填，指定的值必须是存在的 -->
    <environments default="development">
        <!-- environment标签：用于配置数据库环境 -->
        <!-- id属性：在整个应用环境中必须唯一 -->
        <environment id="development">
            <!-- 事务管理器:JDBC、Manage -->
            <transactionManager type="JDBC"/>
            <!-- 数据源：POOLED,JNDI,UNPOOLED -->
            <dataSource type="POOLED"> <!-- 数据库驱动 -->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <!-- 数据库连接地址 -->
                <property name="url" value="jdbc:mysql://localhost:3306/mybatisdb? useSSL=true&amp;useUnicode=true&amp;characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="000422"/>
            </dataSource>
        </environment>
    </environments>


    <!-- 加载映射文件 -->
    <mappers>
        <!-- 加载映射文件 mapper/usermapper.xml -->
    <mapper resource="mapper/usermapper.xml"/>
    </mappers>


</configuration>